* { box-sizing: border-box;}

.cohete {
  animation: cohete 1s steps(16) infinite,
  slide-up 3s steps(1000) infinite forwards;
}

.small-cloud {
  animation: slide-down 3s steps(1000) infinite forwards;
}

.medium-cloud {
  animation: slide-down 3s steps(1000) infinite forwards;
}

.big-cloud {
  animation: slide-down 3s steps(1000) infinite forwards;
}

@keyframes slide-up {
  100% { margin-bottom: 1350px; }
}

@keyframes slide-down {
  100% { margin-top: 1950px; }
}

@keyframes cohete {
  100% { background-position: -2464px; }
}

@keyframes down-up {
  50% { margin-top: 200px;}
  100% { margin-top: 0px; }
}

.background {
  width: 1120px;
  height: 900px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: skyblue;
  margin: 0 auto;
}

.cohete {
  background-image: url("images/cohete.png");
  width: 154px;
  height: 250px;
  position: absolute;
  bottom: -300px;
  margin-left: 500px;
}

.small-cloud {
  background-image: url("images/nube2.png");
  width: 1200px;
  height: 500px;
  position: absolute;
  top: -500px;
  margin-right: 50px;
}

.medium-cloud {
  background-image: url("images/nube6.png");
  width: 1200px;
  height: 500px;
  position: absolute;
  top: -1200px;
  margin-right: 50px;
}

.big-cloud {
  background-image: url("images/nube3.png");
  width: 1200px;
  height: 500px;
  position: absolute;
  top: -850px;
  margin-right: 50px;
}
